.container{
    margin: 35px auto 0 auto;
}

.header{

    display: flex;
    justify-content: space-between;
    align-items: center;

    &__centre{
        ul{
            display: flex;
            justify-content: space-between;
            align-items: center;
            column-gap: 20px;

            a{
                padding: 10px;
                color: #263238;
                font-size: 20px;

            }
        }
    }

    &__right{
        button{
            border: 2px solid #000000;
            background-color: transparent;
            cursor: pointer;
            border-radius: 5px;
            

            a{
                font-size: 18px;
                padding: 14px 27px;
                display: inline-block;
                transition: 0.3s;
            }

            a:hover{
                background-color: #000000;
                color: #FFFFFF;
                transition: 0.3s;
            }
        }
    }
}

.sidebar{
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__content-left{
        img{
            position: relative;
            left: 390px;
            top: 200px;
        }

        h1{
            font-size: 64px;
            line-height: 80px;
            margin-bottom: 40px;
        }

        p{
            font-size: 22px;
            line-height: 36px;
            color: #8F95A5;
            margin-bottom: 40px;
        }

        button{
            border: none;
            background-color: #000000;
            cursor: pointer;
            border-radius: 15px;
            border: 2px solid transparent;

            a{
                font-size: 18px;
                padding: 30px 100px;
                display: inline-block;
                color: #FFFFFF;
                font-size: 35px;
                border-radius: 15px;
                border: 2px solid transparent;
            }

            a:hover{
                background-color: #FFFFFF;
                border: 2px solid #000000;
                border-radius: 15px;
                color: #000000;
            }
        }
    }
}