.d-f{
    margin-top: 50px;
}

.for__image{
    display: none;
}

.header{

    display: flex;
    justify-content: space-between;
    align-items: center;

    &__centre{
        ul{
            display: flex;
            justify-content: space-between;
            align-items: center;
            column-gap: 20px;

            a{
                padding: 10px;
                color: #263238;
                font-size: 20px;

            }
        }
    }

    &__right{
        button{
            border: 2px solid #000000;
            background-color: transparent;
            cursor: pointer;
            border-radius: 5px;

            a{
                font-size: 18px;
                padding: 14px 27px;
                display: inline-block;
                color: #000000;
                transition: 0.3s;
            }

            a:hover{
                background-color: #000000;
                color: #FFFFFF;
                transition: 0.3s;
            }
        }
    }
}

.sidebar{
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__content-left{
        h1{
            font-size: 64px;
            line-height: 80px;
            margin-bottom: 40px;
            text-align: start;
        }

        p{
            font-size: 22px;
            line-height: 36px;
            color: #8F95A5;
            margin-bottom: 25px;
        }

        button{
            border: none;
            background-color: #000000;
            cursor: pointer;
            border-radius: 15px;

            a{
                font-size: 18px;
                padding: 30px 100px;
                display: inline-block;
                color: #FFFFFF;
                font-size: 35px;
                transition: 0.3s;
                border-radius: 15px;
                border: 2px solid #000000;
            }

            a:hover{
                background-color: #FFFFFF;
                color: #000000;
                transition: 0.3s;
                border-radius: 15px;
                border: 2px solid #000000;
            }
        }
    }
}

@media screen and (max-width: 992px) {
    .d-f{
        padding-top: 40px;        
    }

    .header{
        margin-bottom: 70px;


        &__left img{
            width: 89px;
            height: 45px;
        }

        &__centre{
            ul{
                li{
                    a{
                        color: #000000;
                    }
                }
            }
        }

        &__right{
            button{
                a{
                    color: #000000;
                    transition: 0.3s;
                }

                a:hover{
                    background-color: #000000;
                    color: #FFFFFF;
                    transition: 0.3s;
                }
            }
        }
    }



    .sidebar{
        &__content-left{
            h1{
                font-size: 55px;
                line-height: 64px;
                text-align: start;
            }

            p{
                font-size: 24px;
                line-height: 30px;
                margin-bottom: 40px;
            }

            button{
                background-color: #263238;

                a{
                    font-size: 35px;
                    padding: 24px 87px;
                    display: inline-block;
                }
            }
        }

        &__content-right{
            img{
                height: 480px;
                width: 480px;
            }
        }
    }
  }



@media screen and (max-width: 768px){
    .for__image{
        display: block;
    }

    .header{
        margin-bottom: 70px;


        &__left img{
            width: 90px;
            height: 50px;
        }

        &__centre{
           display: none;
        }

        &__right{
            button{
              display: none;
            }
        }
    }



    .sidebar{
        &__content-left{
            h1{
                font-size: 38px;
                line-height: 45px;
                text-align: start;
            }

            p{
                font-size: 16px;
                line-height: 24px;
                margin-bottom: 40px;
            }

            button{
                background-color: #263238;

                a{
                    font-size: 17px;
                    padding: 14px 47px;
                    display: inline-block;
                }
            }
        }

        &__content-right{
            img{
                height: 400px;
                width: 400px;
            }
        }
    }
}



@media screen and (max-width: 576px){
    .header{
        margin-bottom: -10px;


        &__left img{
            width: 90px;
            height: 50px;
        }

        &__centre{
           display: none;
        }

        &__right{
            button{
              display: none;
            }
        }
    }



    .sidebar{
        flex-direction: column-reverse;
        justify-content: center;
        text-align: center;

        &__content-left{
            h1{
                font-size: 34px;
                line-height: 45px;
                text-align: center;
            }

            p{
                font-size: 16px;
                line-height: 24px;
                margin-bottom: 40px;
            }

            button{
                background-color: #263238;

                a{
                    font-size: 17px;
                    padding: 14px 47px;
                    display: inline-block;
                }
            }
        }

        &__content-right{
            img{
                height: 400px;
                width: 400px;
            }
        }
    }

    .for__image{
        display: block;
    }
}