@mixin buttonMixin(
  $bgcolor,
  $color: white,
  $borderRadius: 5px,
  $paddingTop,
  $paddingRight,
  $paddingBottom,
  $paddingLeft
) {
  background-color: $bgcolor;
  padding-top: $paddingTop;
  padding-right: $paddingRight;
  padding-bottom: $paddingBottom;
  padding-left: $paddingLeft;
  color: $color;
  border-radius: $borderRadius;
}
