.pricing_titel {
  font-size: 40px;
  text-align: center;
}

.pricing__paragraph {
  margin-top: 20px;
  color: #736f6f;
}

.pricing__content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;

  position: relative;
}

.content__paragrf,
.content__paragrf-two,
.content__paragrf-tree {
  display: flex;
  gap: 10px;
  width: 160px;
  height: 40px;
  align-items: center;
  background: #eeeeee;
  border-radius: 5px;

  h3 {
    margin-left: 8px;
  }

  margin-top: 30px;

  h5 {
    color: #736f6f;
  }
}

@media only screen and (max-width: 1024px) {
  .pricing__box {
    width: 50%;
  }
}

@media only screen and (max-width: 768px) {
  .pricing__box {
    width: 100%;
  }
}

.content__text {
  margin-top: 54px;
  position: absolute;
  bottom: 0;
}
