@import "./base";
@import "./mixins";

@import "./AboutUs";

@import "./header";

@import "./skills";
@import "./footer";

h1 {
  font-size: 40px;
  text-align: center;
}

p {
  margin-top: 20px;
  color: #736f6f;
}

.container {
  display: flex;
  gap: 50px;
  margin-top: 40px;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.content__paragrf,
.content__paragrf-two,
.content__paragrf-tree {
  display: flex;
  gap: 10px;
  width: 160px;
  height: 40px;
  align-items: center;
  background: #eeeeee;
  border-radius: 5px;

  h3 {
    margin-left: 8px;
  }

  margin-top: 30px;

  h5 {
    color: #736f6f;
  }
}

.content {
  width: 33%;
  height: 300px;
}

@media only screen and (max-width: 1024px) {
  .content {
    width: 50%;
  }
}

@media only screen and (max-width: 768px) {
  .content {
    width: 100%;
  }
}

.content__text {
  margin-top: 54px;
}
