* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
  box-sizing: border-box;
}

.section {
  margin-top: 252px;
  margin-bottom: 188px;
}
.section__title {
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 80px;
  color: #000000;
}

.about {
  display: flex;
  align-items: end;
  justify-content: space-between;
}
.about .about__subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #8f95a5;
}

.about__wrapper {
  display: flex;
  justify-content: space-between;
}
.about__wrapper .about__wrap {
  text-align: center;
}
.about__wrapper .about__wrap-number {
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 80px;
  color: #263238;
}
.about__wrapper .about__wrap-name {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 30px;
  color: #8f95a5;
}

@media only screen and (max-width: 340px) {
  .container {
    max-width: 320px !important;
    width: 100% !important;
    margin: 0 auto !important;
    box-sizing: border-box;
  }
  .container .about {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
  }
  .container .about__wrap-number {
    font-size: 24px !important;
    line-height: 80px !important;
  }
  .container .about__img {
    width: 283px;
    height: 283px;
  }
  .container .about__subtitle, .container .about__wrap-name {
    font-size: 14px !important;
  }
  .container .about__wrapper {
    display: inline;
    text-align: center;
  }
  .container .section__title {
    text-align: center;
    font-size: 30px;
  }
}
@media only screen and (max-width: 576px) {
  .container {
    max-width: 575px !important;
    width: 100% !important;
    margin: 0 auto !important;
    box-sizing: border-box;
  }
  .about {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
  }
  .about__wrap-number {
    font-size: 24px !important;
    line-height: 80px !important;
  }
  .about__img {
    width: 352px;
    height: 352px;
  }
  .about__subtitle, .about__wrap-name {
    font-size: 14px !important;
  }
  .about__wrapper {
    justify-content: space-evenly;
  }
  .section__title {
    text-align: center;
    font-size: 30px;
  }
}
@media only screen and (max-width: 768px) {
  .container {
    max-width: 767px !important;
    width: 100% !important;
    margin: 0 auto !important;
    box-sizing: border-box;
  }
  .about {
    display: flex;
    text-align: center;
  }
  .about__wrap-number {
    font-size: 24px !important;
    line-height: 80px !important;
  }
  .about__img {
    width: 295px;
    height: 295px;
  }
  .about__subtitle, .about__wrap-name {
    font-size: 14px !important;
  }
  .about__wrapper {
    justify-content: space-evenly;
  }
  .section__title {
    text-align: center;
    font-size: 30px;
  }
}/*# sourceMappingURL=main.css.map */